/* SLIDER */
.slider {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  overflow: hidden; 
  width: 100%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
}

.slides {
  width: 400%;
  /* height: 28.5rem;  */
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%; 
  position: relative; 
  transition: 2s;
}

.slide img {
  width: 100%; 
} 

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -3rem;
  display: flex;
  justify-content: center;  
  align-items: center; 
  max-width: 1128px;
}

.manual-btn {
  border: 0.2rem solid #B71C1C; 
  padding: 0.5rem;
  border-radius: 1rem; 
  cursor: pointer; 
  transition: 1s; /* animação do hover */
}

/* not... menos no último item */
.manual-btn:not(:last-child) {
  margin-right: 4rem;
}

.manual-btn:hover {
  background-color: #B71C1C;
} 

/* quando estiver ativo e for o primeiro slide ~ seletor irmão. */
#radio1:checked ~ .primeira {
  margin-left: 0;
}

#radio2:checked ~ .primeira {
  margin-left: -25%;
}

#radio3:checked ~ .primeira {
  margin-left: -50%;
}

#radio4:checked ~ .primeira {
  margin-left: -75%;
} 

.navigation-auto div {
  border: 0.2rem solid #FAFAFA;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 37.4rem;
  display: flex;
  justify-content: center;
  max-width: 1128px;     
}

.navigation-auto div:not(:last-child) { 
  margin-right: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #FAFAFA;
} 

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #FAFAFA;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #FAFAFA;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #FAFAFA;
}

/* MAIN */
.principal {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  width: 98%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
  border: 0.4rem solid #B71C1C; 
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
}

.imagemLocal {
  width: 50%;
  border-radius: 2rem; 
  margin: 1rem;
} 

.principal p {
  font-size: 2rem;
  margin: 1rem; 
}

.principal {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  width: 98%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
  border: 0.4rem solid #B71C1C; 
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
}

/* Tipos */
.tipos { 
  margin: 0 auto;
  color: #FAFAFA;
  background-color: #B71C1C;  
  display: flex; 
  justify-content: center; 
  max-width: 1128px; 
  border-radius: 2rem;
}

.tipos .tipo {
  font-size: 5rem;
  margin: 2rem 6rem; 
  cursor: pointer;
}

@media screen and (max-width: 1128px) {
  .navigation-auto {
      display: none;    
  }
}