/* SLIDER */
.slider {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  /* overflow: hidden;  */
  width: 100%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
}

 

/* MAIN */
.principal {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  width: 98%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
  border: 0.4rem solid #B71C1C; 
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
}

.imagemLocal {
  width: 50%;
  border-radius: 2rem; 
  margin: 1rem;
} 

.principal p {
  font-size: 2rem;
  margin: 1rem; 
}

.principal {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  width: 98%;
  max-width: 1128px; 
  /* padding: 0 2rem 0 2rem;  */
  border: 0.4rem solid #B71C1C; 
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
}

/* Tipos */
.tipos { 
  margin: 0 auto;
  color: #FAFAFA;
  background-color: #B71C1C;  
  display: flex; 
  justify-content: center; 
  max-width: 1128px; 
  border-radius: 2rem;
}

.tipos .tipo {
  font-size: 5rem;
  margin: 2rem 6rem; 
  cursor: pointer;
}

@media screen and (max-width: 1128px) {
  .navigation-auto {
      display: none;    
  }
}