.containerContato {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    border: solid 0.5rem #7F0000; 
    margin: 0 auto;
    margin-top: 1rem; 
    padding: 1rem;
    border-radius: 2rem; 
    color: #7F0000; 
    width: 92%;
    max-width: 1100px;     
} 

.imgCons {
    max-width: 72rem;
} 

.mensagemCons {
    font-size: 2rem;
}